[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=gp
Group=www-data
WorkingDirectory=/home/gp/project/potolok
Environment="PATH=/home/gp/project/bin"
ExecStart=/home/gp/project/bin/gunicorn --workers 3 --bind unix:/tmp/potolok.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target