certifi==2018.1.18
click==6.7
flask-admin==1.5.1
flask-sqlalchemy==2.3.2
flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
sqlalchemy==1.2.6
werkzeug==0.14.1
wtforms==2.1
Django==3.1.5
django-debug-toolbar==3.2
django-environ==0.4.5
flake8==3.8.4
flake8-builtins==1.5.3
flake8-commas==2.0.0
flake8-django==1.1.1
flake8-print==4.0.0
flake8-quotes==3.2.0
flake8-isort==4.0.0
django-widget-tweaks==1.4.8
