awesome-slugify==1.6.5
cloudinary==1.28.0
Django==3.2.14
djangorestframework==3.13.1
django-cloudinary-storage==0.3.0
django-cors-headers==3.10.1
django-environ==0.8.1
django-filter==21.1
django-widget-tweaks==1.4.9
drf-nested-routers==0.93.4
gunicorn==20.1.0
Pillow==9.0.1
psycopg2-binary==2.9.3
whitenoise==5.3.0
