{{ define "top" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">
    <title>Отрезы!</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
{{ end }}

{{ define "navbar" }}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Отрезы</a>
      <a class="navbar-brand" href="/admin">Admin</a>
    </div>
    <div class="navbar-brand navbar-right">
      <span class="username">
        <span class="glyphicon glyphicon-user"></span> request.user.username
      </span>
    </div>
  </div>
</nav>
{{ end }}

{{ define "scripts" }}
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/js.cookie.min.js"></script>
<script src="/static/script.js"></script>
{{ end }}

{{ define "bottom" }}
</body>
</html>
{{ end }}