{{ define "pagination" }}
<div class="text-center">
  <ul class="pagination">
    {{ if .HasPrevious }}
      <li><a href="?page={{ .GetPrevious }}">&laquo;</a></li>
    {{ else }}
      <li class="disabled"><span>&laquo;</span></li>
    {{ end }}

    {{ $current := .Current }}
    {{ range $i := seq 1 .GetTotalPages }}
      {{ if eq $current $i }}
        <li class="active"><span>{{ $i }} <span class="sr-only">(current)</span></span></li>
      {{ else }}
        <li><a href="?page={{ $i }}">{{ $i }}</a></li>
      {{ end }}
    {{ end }}

    {{ if .HasNext }}
      <li><a href="?page={{ .GetNext }}">&raquo;</a></li>
    {{ else }}
      <li class="disabled"><span>&raquo;</span></li>
    {{ end }}
  </ul>
</div>
{{ end }}