<form id="add" role="form" class="panel panel-default" method="POST">
  <div class="panel-body">
    <p><strong>Добавить</strong></p>
    <div class="form-group">
      <div class="col-sm-6">
        <select name="color_type" id="id_color_type" class="form-control" required>
          <option selected disabled>Фактура</option>
          {% for name in colors %}
            <option value="{{ name }}" data-type='{{ name }}'>{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-6">
        <input list="add_colors" name="color" id="id_color" class="form-control" autocomplete="off">
        <datalist id="add_colors"></datalist>
      </div>
    </div>
    <p><strong>Размеры</strong></p>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">ширина</span>
        <input autocomplete="off" type="number" name="width" id="id_width" class="form-control js-price-format" placeholder="введите значение" required>
        <span class="input-group-addon">см</span>
      </div>
    </div>
    <div class="form-group ">
      <div class="input-group">
        <span class="input-group-addon">длина</span>
        <input autocomplete="off" type="number" name="height" id="id_height" class="form-control js-price-format" placeholder="введите значение" required>
        <span class="input-group-addon">см</span>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <select name="rack" id="id_rack" class="form-control" required>
          <option selected disabled>Расположение</option>
          {% for name, id in racks.items %}
            <option value="{{ id }}" data-type='{{ name }}'>{{ name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Добавить</button>
  </div>
</form>