{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Отрезы!</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Отрезы</a>
      <a class="navbar-brand" href="/admin">Admin</a>
    </div>
    <div class="navbar-brand navbar-right">
      <a class="print" href="#">Печать</a>
        <div class="print-form well">
          <form class="form" id="print-form">
            {{ print_form }}
            <button type="submit" class="btn btn-info pull-right">Печать</button>
          </form>
        </div>
      </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    {% block container %}{% endblock %}
  </div>
</div>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'script.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
