{% extends 'base.html' %}

{% block breadcrumbs %}
  <li class="active"><span class="glyphicon glyphicon-home"></span></li>
{% endblock %}

{% block container %}
  <div class="col-lg-12">
    <div class="row">
      {% for company in companies %}
        <div class="col-lg-6 text-center">
          <a href="{% url 'company_view' company.slug %}">
            <h2>{{ company.name }}</h2>
            <img src="{{ company.image_url }}" class="img-thumbnail" alt="{{ company.name }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
