{% for segment in segments %}
  <div class="panel-body parent">
    <div class="row">

      <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-7">
              <p>
                Фактура:<strong>{{ segment.color.type.name }}</strong>
                Цвет: <strong>{{ segment.color.name }}</strong>
              </p>
            </div>
            <div class="col-sm-5">
              <p class="text-right">Площадь: <strong class="label label-default">{{ segment.square }} м²</strong></p>
            </div>
            <div class="col-sm-12">
              <div>Расположение:
                <span class="rack">
                  <strong>{{ segment.rack }}</strong>
                  <button class="edit">&#9998;</button>
                </span>
              </div>
              <form class="move-segment" style="display:none;">
                {% for name, id in racks.items %}
                  <div class="radio">
                    <label><input type="radio" name="rack" value="{{ id }}" required>{{ name }}</label>
                  </div>
                {% endfor %}
                <button type="submit" class="move" value="{{ segment.id }}">✔</button>
              </form>
            </div>
          </div>
      </div>

      <div class="col-sm-12">
        <p>
          <span class="label label-success">ширина: {{ segment.width }} см</span>
          <span class="label label-primary">длина: {{ segment.height }} см</span>
        </p>
      </div>
      <div class="col-sm-12">
      </div>
      <div class="col-sm-6">
        <p class="text-muted">Добавлено: {{ segment.created|date:'d.m.y | H:s' }}</p>
      </div>
      {% if not segment.active %}
        <div class="col-sm-6">
          <p class="text-muted">Удалено: {{ segment.deleted|date:'d.m.y | H:s' }}</p>
          {% if segment.description %}
            <p class="text-muted">Причина: {{ segment.description }}</p>
          {% endif %}
        </div>
        <div class="col-sm-6">
          <p class="text-muted">Номер заказа: <span style="color: red;"><b>{{ segment.order_number|default:'—' }}</b></span></p>
        </div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-warning activate" value="{{ segment.id }}">Вернуть</button>
        </div>
      {% endif %}
      {% if segment.active %}
        <div class="col-sm-6 text-right">
          <button class="btn btn-info remove-toggle" value="{{ segment.id }}">Удалить</button>
        </div>
      {% endif %}

      <div class="col-sm-10 col-sm-offset-1 remove-form" data-toggle="{{ segment.id }}" style="display: none">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form">
              <p>Подтверждение:</p>
              <div class="form-group">
                <input
                  autocomplete="off"
                  type="text"
                  class="form-control order"
                  name="order_number"
                  placeholder="Введите номер заказа"
                >
              </div>
              <div class="checkbox">
                <label><input type="checkbox" name="defect" autocomplete="off"> Есть дефект?</label>
              </div>
              <div class="form-group">
                <input type="text" name="description" class="form-control description" placeholder="Описание отреза">
              </div>
              <small class="text-danger"></small>
              <div class="text-right">
                <button class="btn btn-default btn-danger removeSegment" value="{{ segment.id }}">Удалить</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <hr>
  </div>
{% endfor %}