{{ define "admin_top"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap5.min.css">
  <link rel="stylesheet" href="/static/bootstrap-icons.min.css">
  <link rel="icon" href="/static/favicon.ico">
  <style>
    .error {
      width: 100%;
      margin-top: 0.25rem;
      font-size: .875em;
      color: #dc3545;
    }
  </style>
</head>

<body>
<div class="container">
{{ end }}
{{ define "admin_nav" }}
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body mb-3" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Отрезы</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Пользователи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/color-types">Фактуры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/colors">Цвета</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/segments">Отрезки</a>
        </li>
      </ul>
      <div class="d-flex">
        <form action="/logout" method="post">
          <button type="submit" class="btn btn-outline-light">
            Logout <i class="bi bi-box-arrow-right"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
{{ end}}

{{ define "admin_bottom" }}
</div>
<script src="/static/bootstrap5.min.js"></script>
<script src="/static/htmx.min.js"></script>
<script>
  function rus_to_latin ( str ) {

    var ru = {
        'а': 'a', 'б': 'b', 'в': 'v', 'г': 'g', 'д': 'd',
        'е': 'e', 'ё': 'e', 'ж': 'j', 'з': 'z', 'и': 'i',
        'к': 'k', 'л': 'l', 'м': 'm', 'н': 'n', 'о': 'o',
        'п': 'p', 'р': 'r', 'с': 's', 'т': 't', 'у': 'u',
        'ф': 'f', 'х': 'h', 'ц': 'c', 'ч': 'ch', 'ш': 'sh',
        'щ': 'shch', 'ы': 'y', 'э': 'e', 'ю': 'u', 'я': 'ya',
        '1': '1', '2': '2', '3': '3', '4': '4', '5': '5',
        '6': '6', '7': '7', '8': '8', '9': '9', '0': '0',
    }, n_str = [];

    str = str.replace(/[ъь]+/g, '').replace(/й/g, 'i').replace(/[^\p{Script=Cyrillic}a-zA-Z0-9-_]/gu, '-');

    for ( var i = 0; i < str.length; ++i ) {
      let c = str[i].toLowerCase();
       n_str.push(ru[c] || ru[c] == undefined && str[i].toLowerCase());
    }

    return n_str.join('');
}
let target = document.getElementById('slug-source');
if (target !== null) {
  target.addEventListener('input', function (e) {
  document.getElementById('slug-target').value = rus_to_latin(e.target.value);
});
}

</script>
</body>
</html>
{{ end }}
