{{ define "admin/index.html" }}
{{ template "admin_top" }}
{{ template "admin_nav" }}
<table class="table">
  <thead>
    <tr>
      <th class="col">Имя</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/admin/users" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Пользователи</a></td>
    </tr>
    <tr>
      <td><a href="/admin/color-types" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Фактуры</a></td>
    </tr>
    <tr>
      <td><a href="/admin/colors" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Цвета</a></td>
    </tr>
    <tr>
      <td><a href="/admin/segments" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Отрезки</a></td>
    </tr>
  </tbody>
</table>
{{ template "admin_bottom" }}
{{ end }}
