{{ define "admin/users.html" }}
{{ template "admin_top" . }}
{{ template "admin_nav" }}

<div class="space-y-6">
  <div class="md:flex md:items-center md:justify-between">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Пользователи</h2>
    </div>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      {{ template "admin_add_button" . }}
    </div>
  </div>

  <!-- Form container -->
  {{ template "admin_user_form_container" . }}

  <div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-100">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">ID</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Username</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">First Name</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last Name</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Is Superuser</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Is Active</th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white" hx-target="closest tr" hx-swap="outerHTML">
          {{ range .Users }}
            {{ template "admin_user_row" . }}
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{ template "admin_bottom" }}
{{ end }}
