{% load widget_tweaks %}

<form id="add" role="form" class="panel panel-default" method="POST">
  <div class="panel-body">
    <p><strong>Добавить</strong></p>
    <div class="form-group colors">
      <div class="col-lg-6">
        {% render_field form.color_type class="form-control" %}
      </div>
      <div class="col-lg-6">
        {% render_field form.color label=form.color.name class="form-control" %}
      </div>
    </div>
    <p><strong>Размеры</strong></p>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">ширина</span>
        {% render_field form.width autocomplete="off" class="form-control js-price-format" placeholder="введите значение" %}
        <span class="input-group-addon">см</span>
      </div>
    </div>
    <div class="form-group ">
      <div class="input-group">
        <span class="input-group-addon">длина</span>
        {% render_field form.height autocomplete="off" class="form-control js-price-format" placeholder="введите значение" %}
        <span class="input-group-addon">см</span>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        {% render_field form.rack class="form-control" %}
      </div>
    </div>
    <button type="submit" class="btn btn-success">Добавить</button>
  </div>
</form>