<tr>
  <th scope="row">{{ .User.ID }}</th>
  <td>{{ .User.Username }}</td>
  <td>{{ .User.Email }}</td>
  <td>{{ .User.FirstName }}</td>
  <td>{{ .User.LastName }}</td>
  <td>{{ if .User.IsSuperuser }}✅{{ else }}❌{{ end }}</td>
  <td>{{ if .User.IsActive }}✅{{ else }}❌{{ end }}</td>
  <td>
    <div class="btn-group" role="group">
      <button hx-get="/admin/users/{{ .User.ID }}/edit" class="btn btn-light"><i class="bi bi-pencil"></i></button>
      <button hx-delete="/admin/users/{{ .User.ID }}" class="btn btn-danger"><i class="bi bi-trash"></i></button>
    </div>
  </td>
</tr>
