<form class="row border-top" hx-put="/admin/users/{{ .User.Username }}" hx-target="this" hx-swap="outerHTML">
    <div class="col">{{ .User.ID }}</div>
    <div class="col"><input type="text" class="form-control" name="username" id="username" value="{{ .User.Username }}"></div>
    <div class="col"><input type="email" class="form-control" name="email" id="email" value="{{ .User.Email }}"></div>
    <div class="col"><input type="text" class="form-control" name="first_name" id="first_name" value="{{ .User.FirstName }}"></div>
    <div class="col"><input type="text" class="form-control" name="last_name" id="last_name" value="{{ .User.LastName }}"></div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="is_superuser" id="is_superuser" {{ if .User.IsSuperuser }}checked{{ end }}>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="is_active" id="is_active" {{ if .User.IsActive }}checked{{ end }}>
      </div>
    </div>
    <div class="col">
      <div class="btn-group">
        <button class="btn btn-secondary" type="submit"><i class="bi bi-floppy"></i></button>
        <button class="btn btn-warning" hx-get="/admin/users/{{ .User.Username }}/view"><i class="bi bi-x-square"></i></button>
      </div>
    </div>
</form>
