{{ define "pagination" }}
{{ $pageUrl := .PageUrl }}
{{ $current := .Current }}
{{ $start := .Start }}
{{ $end := .End }}  
<div class="text-center">
  <ul class="pagination">
    {{ if .HasPrevious }}
    {{ $prevUrl := replace $pageUrl "__page_number__" .GetPrevious }}
      <li><a href="{{ $prevUrl }}">&laquo;</a></li>
    {{ else }}
      <li class="disabled"><span>&laquo;</span></li>
    {{ end }}

    {{ if gt $start 1 }}
      {{ $startUrl := replace $pageUrl "__page_number__" (add $start -1) }}
      <li><a href="{{ $startUrl}}">&hellip;</a></li>
    {{ end }}

    {{ range $i := seq 1 .GetTotalPages }}
      {{ if and (ge $i $start) (le $i $end) }}
        {{ $urlWithPage := replace $pageUrl "__page_number__" $i }}
        {{ if eq $current $i }}
          <li class="active"><span>{{ $i }} <span class="sr-only">(current)</span></span></li>
        {{ else }}
          <li><a href="{{ $urlWithPage }}">{{ $i }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}

    {{ if lt $end .GetTotalPages }}
      {{ $endUrl := replace $pageUrl "__page_number__" (add $end 1) }}
      <li><a href="{{ $endUrl }}">&hellip;</a></li>
    {{ end }}

    {{ if .HasNext }}
    {{ $nextUrl := replace $pageUrl "__page_number__" .GetNext }}
      <li><a href="{{ $nextUrl }}">&raquo;</a></li>
    {{ else }}
      <li class="disabled"><span>&raquo;</span></li>
    {{ end }}
  </ul>
</div>
{{ end }}