{% extends 'base.html' %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="active">{{ sections.first.company.name }}</li>
{% endblock %}

{% block container %}
  <div class="col-lg-12">
    <div class="row">
      {% for section in sections %}
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">
                <a href="{% url 'section_view' section.company.slug section.slug %}">
                  {{ section.name }}
                </a>
              </h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">{{ section.racks_count }}</span>
                  Количество стеллажей
                </li>
                <li class="list-group-item">
                  <span class="badge">{{ section.segments_count }}</span>
                  Количество отрезов
                </li>
                <li class="list-group-item">
                  <span class="badge">{{ section.square_sum|floatformat:2 }} м²</span>
                  Общая площадь отрезов
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
